<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <title>Override Content page title</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="/css/main.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
  <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
  <script src="/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Spring Boot Sample</a>
          </div>
          <div class="navbar-form navbar-right" th:if="${session['scopedTarget.authUser'] != null &amp;&amp; session['scopedTarget.authUser'].isLogin()}">
               <a th:href="@{/logout}" class="btn btn-default">ログアウト</a>
          </div>
      </div>
  </nav>
  <div class="container">
  <th:block layout:fragment="main">
  </th:block>
  </div>
  
  <footer class="footer">
     <div class="container">
          <p class="text-muted text-right">2015</p>
     </div>
  </footer>
</body>
</html>