<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  <head>
    <title>login</title>
  </head>
  <body><!-- main内のみが置き換わる。 -->
    <div layout:fragment="main">
    <h1>Login</h1>
	<form action="#" th:action="@{/login}" method="post" class="form" th:object="${loginRequest}">

		<ul th:if="${#fields.hasGlobalErrors()}">
		 <li class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">err</li>
		</ul>

		
		<div class="form-group" th:classappend="${#fields.hasErrors('id') ? 'has-error' : ''}">
		    <label for="id" class="label-control" >ID</label>
		    <span class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Error</span>
		    <input type="text" name="id" id="id" class="form-control" th:field="*{id}" placeholder="user1"  />
		</div>
		<div class="form-group" th:classappend="${#fields.hasErrors('password') ? 'has-error' : ''}">
		    <label for="password" class="label-control">password</label>
		    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
		    <input type="password" name="password" id="password" class="form-control" th:field="*{password}" placeholder="user1"  />
		</div>

		<button type="submit" class="btn btn-primary">ログイン</button>
	</form>
    </div>
  </body>
</html>