<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head th:replace="layout::common_header(~{::title})">
    <title>login</title>
  </head>
  <body th:replace="layout::main_content(~{::div#content})">
    <div id="content" >
    <h1>Login</h1>
	<form action="#" th:action="@{/login}" method="post" class="form" th:object="${loginRequest}">

		<ul th:if="${#fields.hasGlobalErrors()}">
		 <li class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}">err</li>
		</ul>
		
		<div th:replace="helper/bs::form_group('id', 'ID', ~{::input#id})">
		    <label >ID</label>
		    <input id="id" type="text" th:field="*{id}" class="form-control"  placeholder="user1">
		</div>
		
		<div th:replace="helper/bs::form_group('password', 'PASSWORD', ~{::input#password})">
		    <input id="password" type="password" th:field="*{password}" class="form-control"  placeholder="user1"  />
		</div>

		<input type="button" id="ajax" class="btn btn-default" value="ログインチェック(ajax)"/>
		<button type="submit" class="btn btn-primary">ログイン</button>
	</form>
	
    <script>
//<![CDATA[
$(function(){
	
	$("#ajax").click(function(e){
			$.ajax({url:"/login/tryLogin", 
	        method:"POST", 
	        data:JSON.stringify({id:$("#id").val(), password:$("#password").val()}),
	        contentType: "application/json; charset=utf-8"}
		).success(function(data){
			alert("OK");
		}).error( function(data){
			alert(data.responseJSON.messages.join("\n"));
		});
	});
});
//]]>
</script>
    </div>
    
    
    
  </body>
</html>